/* Loading */
.fullLoader {
    margin: 20px 0;
    width: 100%;
  }
  .loading {
    width: 200px;
    height: 200px;
    border-bottom: 2px solid black;
    border-radius: 50%;
    animation: rotation 0.5s infinite ease-in;
    margin: auto;
  }
  .loadingName {
    text-align: center;
  }
  @keyframes rotation {
    to {
      transform: rotateZ(360deg);
    }
  }
  